/* common */
body {
    font-family: 'Inter', sans-serif;
    color: #364970;
}

nav li,
nav a,
h1, h2, h3, h4, h5,
.f-600 {
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

p {
   color: #6f7b97;
}

.partner-container,
.design,
.development {
    background-color: #f3f5f9;
}

section {
    margin: 30px 0;
    padding: 30px 0;
}

.deploy .deploy-title > p,
.design .design-title > p, 
.development .slide-container > p{
    font-size: 20px;
}

.deploy .deploy-content, 
.design .design-content,
.development .development-content {
    margin-top: 60px;
}

/* /common */

/* header */
header {
    position: relative;
}
/* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background-color: white;
    z-index: 1;
}

nav li,
nav a {
    font-size: 15px;
    color: #364970;
}

.item-container,
.log-container {
    padding-top: 8px;
}

.logo-container img {
    width: 100%;
}

.item-container li,
.log-container li {
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
}

.item-container *:hover,
.log-container *:hover {
    color: #006aff;
}

li > span > i {
    margin-left: 5px;
}

.log-container {
    text-align: right;
}

.log-container #sign {
    padding: 10px;
    color: #3a8bff;
    border: 1px solid #3a8bff;
    border-radius: 5px;
    transition: 0.5s;
}

.log-container #sign:hover {
    color: white;
    background-color: #3a8bff;
}

.hamburger-icon {
    padding-top: 8px;
    text-align: right;
}

.hamburger-icon > i {
    font-size: 20px;
    color: #3a8bff;
}
/* /nav */

/* jumbotron */
.jbt {
    margin-top: 69px;
    padding: 50px 0;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

.title-container {
    color: white;
}

.title-container > h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

.title-container > p {
    color: #baccff;
    font-size: 22px;
}

.account-container {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.account-container > h3 {
    margin-top: 0;
    font-size:  28px;
}

.account-container > #h-special {
    color: #3a8bff;
}

.btn-account {
    width: 100%;
    padding: 3px 0;
    color: white;
    background-color: #579aff;
    border: 1px solid #579aff;
    transition: 0.3s;
}

.btn-account:hover {
    color: #579aff;
    background-color: white;
    border: 1px solid #579aff;
}

.btn-google > img {
    position: absolute;
    left: 0;
    height: 15px;
    margin: 2px 5px;
}

.btn-google {
    position: relative;
    width: 100%;
    padding: 3px 0;
    transition: 0.3s;
}

.btn-google:hover {
    border-top: 1px solid red;
    border-right: 1px solid #71a2f6;
    border-bottom: 1px solid #6ebf83;
    border-left: 1px solid #fcc947;
    background-color: white;
}

.term-container {
    font-size: 12px;
}

.term-container a {
    color: #3a8bff;
    text-decoration: underline;
}
/* /jumbotron */

/* partner container */
.partner-container {
    padding: 30px;
}

.subtitle > h5 {
    color: #7b87a0;
}

.partner-logo > img {
    width: 100%;
    height: 100px;
}

.partner-work a{
    color: #3a8bff;
}
.partner-work a:hover{
    text-decoration: underline;
}
/* /partner-container */

/* main */
main {
    margin-top: 50px;
}

/* deploy */
.deploy .deploy-list{
    margin-bottom: 35px;
}

.deploy .deploy-list li {
    padding: 10px;
    border-left: 1px solid #cccccc;
}

.deploy .deploy-list a {
    font-size: 20px;
    color: #6f7b97;
}

.deploy .deploy-list li:hover a {
    color: #3a8bff;
}

.deploy .deploy-list li:hover {
    border-left: 1px solid #3a8bff;
}

.deploy .content-deploy > p {
    font-size: 15px;
}

.deploy-content > .container {
    padding: 0 85px;
}

.deploy .deploy-content .dep-wrapper{
    margin-top: 20px;
}
/* /deploy */

/* design */
.chevron-container {
    padding: 180px 0;
}

.chevron-container > i {
    font-size: 30px;
    cursor: pointer;
}

i.fa-chevron-left {
    color: #6f7b97;
}

.slide-container > img {
    width: 100%;
}

.slider {
    margin-top: 15px;
}

.slider i {
    color: #3a8bff;
    cursor: pointer;
}
/* /design */

/* feature */
.feature-content {
    margin-top: 50px;
}

.feature-content p {
    font-size: 15px;
}

.feature-content a {
    color: #3a8bff;
}

.feature-content a:hover {
    text-decoration: underline;
}
/* /feature */

/* region */
.region {
    padding: 60px 0;
    background-image: linear-gradient(#0044c3, #001e99);
}

.region .region-title > h2 {
    color: white;
}

.region .city-container {
    padding: 10px 0;
    color: white;
    border-bottom: 1px solid white; 
}

.region .city-container .speed-test > a {
    color: #00c7ce;
}

.region .city-container .speed-test > a:hover {
    color: white;
    text-decoration: underline;
}

.region .city-container.none {
    border: 0;
}
/* /region */

/* development */
.development {
    padding: 60px 0;
}

.development .development-content .slide-container {
    padding: 65px 0;
    background-color: white;
    border-radius: 5px;
}

.development .development-content .slide-container > img {
    width: 50%;
}

.development .development-content .slide-container > p {
    padding: 30px 0;
}

.development .development-content .slide-container > h5 {
    padding: 20px 0;
}

.development .development-content .slide-container span {
    font-weight: 500;
}

.development .development-content .slide-container > a {
    color: #3a8bff;
}

.development .development-content .slide-container > a:hover {
    text-decoration: underline;
}
/* /development */

/* media */
@media screen and (max-width: 767px) {
    
    .deploy .deploy-content .dep-wrapper{
        margin-top: 0px;
    }

    .deploy-content > .container {
        padding: 0 15px;
    }

    .support-container,
    .security-container {
        margin-top: 40px;
    }
}

@media screen and (min-width: 768px) {
    
    .deploy .deploy-list{
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 991px) {

    .title-container > h1 {
        font-size: 40px;
    }

    .title-container > p {
        font-size: 20px;
    }

    .account-container > h3 {
        font-size:  24px;
    }

    .account-container > #h-special {
        font-size:  22px;
    }

    .subtitle > h5 {
        font-size: 13px;
    }
}

@media screen and (min-width: 500px) and (max-width: 991px) {
    
    .hamburger-icon {
        margin-top: 18px;
    }

    .chevron-container {
        padding: 100px 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .log-container li:last-child {
        margin-top: 10px;
    }

    .chevron-container {
        padding: 150px 0;
    }
}


